@charset "utf-8";
body {
	font-size: 100%;
	font-family: 'Ubuntu', sans-serif;
	background-color: #000;
	background-image: url("images/bigface.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
	margin: 0;
	padding: 0vh 0vw 0vh 10vw;
	color: #cc9;
	text-align: left;
}
h1 {
  font-size: 4em;
  font-family: 'Major Mono Display', monospace;
}
ul {
  font-size: 2em;
  font-family: /*'VT323',*/ monospace;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
