@charset "utf-8";

body {
	image-rendering: pixelated;
	font-size: 100%;
	font-family: monospace;
	padding: 0px;
	margin: 0px;
	color: #333;
	text-align: left;
}
body.home {
	background-color: #000;
	background-image: url("images/bigface.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
	color: #cc9;
}
div	{
	margin: 0px;
	padding: 0px;
}
h1 {
	margin: 0;
	padding: 4vh 20vw 0vh 10vw;
  font-size: 4em;
  font-family: 'Major Mono Display', monospace;
}
h2 {
	margin: 0;
	padding: 1em 20vw 0px 10vw;
	font-size: 2em;
	font-family: 'Major Mono Display', monospace;
}
p {
	margin: 0;
	padding: 0.6em 20vw 0.6em 10vw;
	font-size: 2em;
	font-family: monospace;
}
ul {
	margin: 0;
	padding: 1em 20vw 0px 10vw;
  font-size: 2em;
  font-family: monospace;
	list-style-type: none;
}
ul.bottomnav{
	background: rgba(51,51,51,0.75);
	padding: 3px;
	margin: 0px 0px 0px 10vw;
	font-size: 1em;
	font-family: 'Major Mono Display', monospace;
	list-style-type: none;
	display: inline;
}
li {
	padding-bottom: 20px;
	display: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  background-color: #cc9;
}
.homebutton {
	position: fixed;
	top: 6.7vh;
	left: 18.2vw;
	font-size: 1.2em;
	background-color: #333;
	color: #cc9;
}
.imagetag {
	float: left;
	display: block;
	position: relative;
	font-size: 1.5em;
	top: -220px;
	left: 400px;
	width:250px;
	height: 30px;
	padding:5px;
	margin:0px;
	background:#333;
	color:#cc9;
	vertical-align: middle;
}
.quote {
	float: left;
	display: block;
	position: static;
	font-size: 1em;
	/*margin: 4vh 20vw 0vh 10vw;*/
	padding:5px;
	background:#333;
	color:#cc9;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
.coverpic {
	margin-top: 20px;
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
